__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
pharmacy.db
pharmacy.db-journal
.DS_Store
.env
.venv
node_modules/
dist/
build/
login-bg.png
